====================
   SLICING Requirements
=====================

In 3d printing, 'slicing' is the process of converting a 3d object into layers, which can then be drawn from bottom to top to create an object.  There are many parameters and concepts involved in the process, this document describes the most common parts to the problem

The general approach to the problem is to perform these steps:

(1) select a layer height, and compute the cross-section of the solid at each layer.  The result will be set of closed curves, which represent the boundaries of the object

(2) for each layer, compute a set of paths that can be used to fill that layer.  The general approach here has these sub-steps:
    (a) compute one set of paths for 'walls' of the object. these are typically offsets from the outer boundaries of the object
	(b) compute fill paths, which fill the interior of the object
	(c) join the paths in various ways to maximize print time
	
(3) perform a number of other analytical functions required for printing, such as:
	(a) determine if any supports are needed
	

=======
  Glossary of Terms
=======

-----------------------------------------------------------
3d geometry terms: typically needed to talk about geometry
---------------------------------------------------------
	CURVE:  a line, arc, or geometric construct that defines a boundary. 
	SOLID:  a 3d representation of a solid object
	BoundaryRepresentation ( BREP):   a computer model of a 3d object defined by enumerating the enclosing faces
	STEP:   a standard file format for exchanging CAD files. Capable of describing objects in terms of faces that include curves and splines
	STL:	a file format that represents a solid in terms of a mesh of triangles
	FACE:	one surface of a solid model
	EDGE:   a limited portion of a curve that defines one edge of a face in a solid model. For example if you have a cube, there are 6 faces, and each has 4 edges. each edge lies an a curve ( a line ). 
	WIRE:   an OpenCasecade term for a connected set of edges
	OCC:	Short for OpenCascade, an open source 3d modelling kernel
	

----------------------------------------------------------------------
3d printer terms
--------------------------------------------------------
	ABS: a common type of plastic used in these printers
	PLA: another type of plastic, which is not as strong, but is bio-degradable
	EXTRUDER: the part of the machine that takes solid plastic, melts it, and then squirts it out in small, thin bead. the extruder typically runs at 230 degrees C for abs and 185 degrees for PLA
	PRIMING: the practice of extruding some amount of plastic before you start printing, so that you know when you start printing there is plastic coming out.
	NOZZLE: the part of the extruder hat defines the output size of the melted plastic output ( typically 0.5 to 0.35 mm)
	BED/HEATED BED/HBP: plastic will generally not stick to a cold surface, so many printers have a heated base plate onto which objects are printed. typically 110 deg. C Some printers do not have this. HBP is Heated Build Platform
	GCODE: a control language from the 70's still used to control the motions of machines.
	AXIS: a part of a machine that moves in one degree of freedom-- usally in a line or rotating. most machines have 3 axes, called 'x', 'y', and 'z'. Z usually points up
	HOME: one corner of the build space where the machine can learn where it is. usually, limit switches allow the machine to find this known point at the beginning of each build.
	TRAVEL SPEED: the fastest speed an axis can move reliably
	G2/G3: Gcode commands that mean "move in an arc or a circle
	G1: Gcode command that means move in a line
	MCODE: a special g-code command , starting with "M", that controls hardware besides the axes. typically the extruder or the heated bed temperature. MCODES are used to ask the printer to wait for a specific temp, etc.
	MOSAIC, ULTIMAKER, MAKERBOT, REPRAP, RAPMAN, MEDEL,PRUSA: all models of 3d printeres based on reprap technology
	FIRMWARE: the software that controls the motion of the printer
	MARLIN,FIVED,SPRINTER: all specific firmwares for reprap printers
	OOZE: when the extruder stops, there is melted plastic in the head, which is still hot and flows out. The slicing software normally creates code to pull the filament back so that this doesnt happen.
	SUCK-BACK: the practice of issuing commands to retract filament when movement stops, so that plastic doesnt ooze out the end of the nozzle. on the next move, the retract is reversed.  

slicing terms
-----------------------------------------------------
	SLICE:  is a 2-d cross section of a 3d object, generally in the x-y plane ( with z going upwards )
	PERIMETER: a path that follows the outside or inside walls of a slice
	FILL: paths which draw the inside of an object
	HONEYCOMB FILL:  hexagonal paths which fill the interior of an object like a honeycomb
	FILAMENT: a long thin piece of raw material ( usually abs plastic) of a fixed diameter that is fed into the extruder
	LAYER THICKNESS: the thickness of each layer. usually thinner than the output of the nozzle.  If the nozzle is closer to the build surface than the diameter of the output filament, the layer is 'squashed flat' to make a wide, thin track instead of a round bead.
	INFILL:  same as fill
	INFILL DENSITY:  the percentage of a solid part that is actually drawn. if infill density is 1, then all of the space is filled with plastic. 10% would mean that only 10% is filled in. 
	THIN FEATURE:  a small part of an object that requires special handling. examples include features that are too small to print without waiting for layers to cool, or those that cannot be printed without overlapping plastic
	SKEINFORGE: the oldest and most complex slicing tool. a good source of all of the things you might want to configure. good example of how to make a software that's hard to use
	SLIC3R:  the lastest slicer program. much easier to use, but not as good as it could be
	SUPPORT: extra plastic that is printed to 'hold up' sections of a part that could otherwise not be printed because there are overhangs
	BRIDGES: sections of a part where a horizontal surface must span over an air gap. For small distances this is possible, and is called 'bridging'.  When the gap is too large, a support must be printed underneath.
	ARC COMPENSATION: when printing a circle, more plastic is laid down on the inside than outside, which results in a slightly smaller than desired hole. Arc compenssation adjusts the size of the arc so that the inner diameter is the desired size when the plastic cools.
	SKINNING:  the practice of printing perimeter layers much thinner than inner layers.  thicker layers are faster to print, but result in a rougher part. thinner layers make a nicer part but take longer.  So complex tools will generate thin layers on the outside, and thicker layers on the inside where you cannot see. typicaly the inner layer height is a multiple of the inner layer height.
	

	
	
	
	
	